@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* font-family: 'Poppins', sans-serif; */


body {


     font-family: 'Poppins', sans-serif;
}



.container {

     padding-left:1rem;
     padding-right:1rem;

    
}

.container-center {

   max-width:600px;
   margin:auto;  
}


