@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* font-family: 'Poppins', sans-serif; */
:root {

     --primary-color:#502d3c;
     --dark-black:#000;
     --light-yellow:#ffb81c;
     --off-white:#f3f4f6;
}

body {


     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
}



.container {

     padding-left:1rem;
     padding-right:1rem;

    
}

.container-center {

   max-width:600px;
   margin:auto;  
}
hr {

     margin:3rem 0;
}

/* links */

.link {
 text-decoration: none;
 padding:0.5rem 1rem;
     
}

.primary-link {

     background-color:var(--primary-color);
     border-radius:0.5rem;
     color: white;
     text-decoration: none;
     
}

.secondary-link {
 
    color:var(--primary-color);
    border-radius:0.5rem;
    border:1px solid var(--primary-color);
    text-decoration: none;
} 



/* lists  */

.list-non-bullet {

     list-style: none;
}



.list-item-inline {

      display: inline;
      padding: 0rem 0.5rem;
}


/* navigation starts*/

.navigation {

     background-color: var(--primary-color);
     color: #fff;
     padding: 1rem;
     border-bottom-left-radius: 1rem;
     box-shadow: 0px 1px 10px #999;
     max-width:1020px;
     margin:auto;
}
.nav-pills {

     text-align: right;
}

.nav-pills .dd{

      color: #fff !important;
     text-decoration: none;
     font-weight:600;
 
}

.nav-pills li .dd:hover{

    color: #ffb81c!important;
}

.nav-brand {

     font-weight: bold;
     font-size:1.1rem;
}


.hero {

    
     padding:2rem;
    padding-top:5rem;
}


.hero .hero-img {


     width:350px;
     display: block;
     margin: auto;
}


.hero .hero-heading {
   font-size: 2.3rem;
     text-align: center;
     color: var(--primary-color);
     letter-spacing:3px;
     padding-top: 1rem;
     font-weight: 800;
}

.heading-inverted {

     color: var(--dark-black);
}



/* section starts */

.section {

    padding:2rem;
}

.section h1 {

     text-align: center;
     
}

.ow {

     background-color: var(--off-white);

}


.footer {

   
    background-color: var(--primary-color);
    background: linear-gradient( 
   270deg,#502b3a -6.25%,transparent 105.53%),#000;
    color: #fff!important;
    padding:2rem 1rem;
   text-align: center;
   border-top-right-radius: 1rem;

}


.footer .footer-header {

      font-weight: bold;
      font-size:large ;
}

.footer .link{
 
     color: #fff!important;
}


.plink {

    background-color:#ffb81c;
    color: var(--dark-black);
    font-weight:700;
    display: inline-block;
    margin-top:10px !important;
}


.pslink {

    border:2px solid #ffb81c;
     color: black;
    font-weight:700;
    display: inline-block;
    margin-top:10px !important;
}


.pslink:hover {
 background-color: #ffb81c;
 color: #000;
}


.social-links {

     margin-top: 30px;
}
/* 

.vv {

      text-align: center;
} */


.fsa {

      text-align: center;
}




.container-blog-box {


      max-width:840px;
      margin: auto;
      margin-top:3rem;
}

.blog-one-img {


     display: inline-block;
     margin:30px 0;
}


.hero .bonea {
       
     margin-top: 10px;
     margin-bottom: 10px;
      margin:auto !important;
      display:block;

}


.gap-s {

     line-height: 30px;
}